<div class='intro'>


  <svg width="617" height="113" viewBox="0 0 617 113" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" clip-rule="evenodd"
      d="M99.5663 82.768C95.8453 89.9902 90.6432 95.7636 83.96 100.088C75.8 105.272 66.248 107.864 55.304 107.864C45.992 107.864 37.496 105.704 29.816 101.384C22.232 96.968 16.232 90.872 11.816 83.096C7.39999 75.32 5.19199 66.536 5.19199 56.744C5.19199 46.952 7.39999 38.168 11.816 30.392C16.232 22.52 22.232 16.376 29.816 11.96C37.496 7.544 45.992 5.336 55.304 5.336C66.248 5.336 75.8 7.976 83.96 13.256C90.6577 17.5898 95.8678 23.4111 99.5904 30.72C100.403 32.3158 101.145 33.9824 101.816 35.72H86.12C83.336 29.864 79.304 25.352 74.024 22.184C68.84 18.92 62.6 17.288 55.304 17.288C48.296 17.288 42.008 18.92 36.44 22.184C30.872 25.352 26.504 29.96 23.336 36.008C20.168 41.96 18.584 48.872 18.584 56.744C18.584 64.616 20.168 71.528 23.336 77.48C26.504 83.432 30.872 88.04 36.44 91.304C42.008 94.472 48.296 96.056 55.304 96.056C62.6 96.056 68.84 94.472 74.024 91.304C79.304 88.136 83.336 83.624 86.12 77.768H101.816C101.138 79.5054 100.388 81.1721 99.5663 82.768ZM38.9409 86.9743C43.6791 89.6634 49.0917 91.056 55.304 91.056C61.8659 91.056 67.1626 89.6374 71.4167 87.0376L71.4341 87.027L71.4515 87.0165C75.8411 84.3828 79.2195 80.6376 81.6043 75.6212L82.9608 72.768H109.133L106.474 79.5847C102.373 90.1001 95.7721 98.4003 86.6762 104.286L86.6587 104.297L86.6412 104.308C77.5773 110.067 67.0687 112.864 55.304 112.864C45.1838 112.864 35.8359 110.507 27.3647 105.742L27.3322 105.724L27.3 105.705C18.9375 100.836 12.3118 94.0941 7.46818 85.5651C2.58485 76.9662 0.191986 67.3172 0.191986 56.744C0.191986 46.1755 2.58273 36.5303 7.46168 27.9343C12.3007 19.3127 18.9258 12.5152 27.3 7.63912L27.3118 7.63226L27.3236 7.62547C35.8012 2.75085 45.1638 0.335999 55.304 0.335999C67.0865 0.335999 77.6079 3.19043 86.6762 9.05815C95.7853 14.9522 102.384 23.3108 106.48 33.9189L109.106 40.72H82.9608L81.6043 37.8668C79.2195 32.8504 75.8411 29.1052 71.4515 26.4715L71.4054 26.4438L71.3599 26.4152C67.1149 23.7424 61.8394 22.288 55.304 22.288C49.1062 22.288 43.7045 23.7212 38.9686 26.4975L38.9407 26.5138L38.9126 26.5298C34.233 29.1924 30.5191 33.0704 27.7651 38.328L27.7575 38.3427L27.7497 38.3572C25.0265 43.4736 23.584 49.5537 23.584 56.744C23.584 63.9343 25.0265 70.0144 27.7497 75.1308C30.4981 80.2944 34.2206 84.2004 38.9409 86.9743ZM203.65 1.632V112H180.546V66.208H139.426V112H116.322V1.632H139.426V45.984H180.546V1.632H203.65ZM185.546 50.984H134.426V6.632H121.322V107H134.426V61.208H185.546V107H198.65V6.632H185.546V50.984ZM238.989 1.632V112H215.885V1.632H238.989ZM363.13 2.352V112H340.026V56.1947L315.152 112H299.453L274.426 56.2044V112H251.322V2.352H273.675L307.298 77.4803L340.922 2.352H363.13ZM307.298 89.72L270.434 7.352H256.322V107H269.426V32.84L302.69 107H311.906L345.026 32.696V107H358.13V7.352H344.162L307.298 89.72ZM435.034 46.272V66.352H398.458V91.632H439.354V112H375.354V1.488H439.354V21.856H398.458V46.272H435.034ZM393.458 16.856H434.354V6.488H380.354V107H434.354V96.632H393.458V61.352H430.034V51.272H393.458V16.856ZM515.176 1.632V112H492.072V1.632H515.176ZM616.422 112H595.626L550.614 43.7442V112H527.51V1.488H548.303L593.318 69.6249V1.488H616.422V112ZM598.318 86.264L545.614 6.488H532.51V107H545.614V27.08L598.318 107H611.422V6.488H598.318V86.264ZM233.989 6.632H220.885V107H233.989V6.632ZM510.176 107H497.072V6.632H510.176V107Z"
      fill="black" />
  </svg>


  <p>Click here for newest articles</p>
  <button class='btn btn-primary' id='scrapeBtn'>New Stuff</button>
</div>
<div class='container'>
  <div class='page2'>
    <div id="articles">
      <!-- Modal -->
      <div id='myModal' class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Your Notes</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <textarea class="form-control" id="notesText" rows="3"></textarea>
                </div>
              </form>
              <p style='font-size:12px;'>You can always clear out the text to delete old notes and add new notes.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>