* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcoral;
  font-family: 'Montserrat', sans-serif;
  transition: all 1.2s ease;
}

.intro {
  height: 40vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-active {
  background-color: lightcyan;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
}

.hidden {
  visibility: hidden;
}