* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightcyan;
  /* background-color: lightcoral; */
  font-family: 'Montserrat', sans-serif;
  transition: all 1.2s ease;
}

.intro {
  margin-top: 5vh;
  height: 25vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bg-active {
  /* background-color: lightskyblue; */
  background-color: lightcoral;
}

#articles {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10%;
}

.hidden {
  visibility: hidden;
}

.newCards {
  border: 3px solid black;
  height: 100%;
}
